<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Chupaprecios_Core::core" title="core" sortOrder="100">
                    <resource id="Chupaprecios_Quotes::quotes" title="quotes" sortOrder="100" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
